
<html>
  <head>
    <title>Impressum</title>
  </head>
  <body>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <p class="text-base font-semibold leading-7 text-mega">Impressum</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Zukunft Mega</h1>
          <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-2">
            <div>
              <p class="font-bold">Verantworlich:</p>
              <p>Werner Fischer<br />
                Alte Poststr. 119<br />
                87600 Kaufbeuren</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>