---
import LogoSection from '../components/LogoSection.astro'
import Info from '../components/Info.astro'
import Newsletter from '../components/Newsletter.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zukunft Mega</title>
	</head>
	<body class="bg-white">
	<div class="flex flex-col h-full justify-center items-center">
		<LogoSection/>
		<Info/>
	<Newsletter/>
	<Footer/>
	</div>
	</body>
</html>
