<div class="py-8 w-full h-full grid gap-8 md:gap-16 grid-row grid-cols-1 md:grid-cols-2">
  <div class=" shadow-2xl bg-mega rounded-lg group h-72 w-[380px] p-10 mx-auto md:mx-0  md:ml-auto flex items-center justify-center flex-col">
			<h3 class="mb-8 md:mb-0 text-xl font-semibold leading-6 text-gray-200 md:group-hover:hidden" >Konsequente Friedenspolitik</h3>
				<p class="md:group-hover:block md:hidden text-xl text-wrap text-center text-gray-100">Starke, uropäische Friedenspolitik basierend auf Entspannungspolitik und Diplomatie. Verbot europäischer Waffenlieferungen in Kriegs- und Krisengebiete.</p>
  </div>
  <div class="bg-mega shadow-2xl rounded-lg group h-72 w-[380px]  p-10  flex mx-auto md:mx-0  md:mr-auto items-center justify-center flex-col">
			<h3 class="mb-8 md:mb-0 text-xl font-semibold leading-6 text-gray-200 md:group-hover:hidden" >Informierte Mittbestimmung</h3>
				<p class="md:group-hover:block md:hidden text-xl text-wrap text-center text-gray-100">Mehr Mitbestimmung der Bürger. Über nationale Bürgerentscheide und über einen reformierten ÖRR.</p>
  </div>
  <div class="bg-mega shadow-2xl rounded-lg group h-72 w-[380px]  p-10 mx-auto md:mx-0 md:ml-auto flex items-center justify-center flex-col">
			<h3 class="mb-8 md:mb-0 text-xl font-semibold leading-6 text-gray-200 md:group-hover:hidden" >Asylpolitik, mit Plan</h3>
				<p class="md:group-hover:block md:hidden text-xl text-wrap text-center text-gray-100">Menschliche und realistische Asylpolitik durch eine konsequente Durchsetzung unserer Asylgesetze und einer gerechten Verteilung auf alle EU Mitgliedstaaten. </p>
  </div>
  <div class="bg-mega shadow-2xl rounded-lg group h-72 w-[380px]  p-10 mx-auto md:mx-0 md:mr-auto flex items-center justify-center flex-col">
			<h3 class="mb-8 md:mb-0 text-xl font-semibold leading-6 text-gray-200 md:group-hover:hidden" >Ende der Eurokratie</h3>
				<p class="md:group-hover:block md:hidden text-xl text-wrap text-center text-gray-100">Weniger Bürokratie, dafür mehr Fokus auf wesentliche europäische Entscheidungen, sowie mehr Transparenz und Amtszeitbegrenzung für EU-Abgeordnete</p>
  </div>
</div>
