---
import { Image } from 'astro:assets';
import zukunftmegalogo from '../images/zukunft-mega-logo.png';
---

	<div class=" h-full w-full flex items-center jusctify-center flex-col p-3">
		<!-- <div class="w-full bg-blue-200">Nav</div> -->
    <Image src={zukunftmegalogo}  class="max-w-[32rem] w-full h-auto" alt="A bird sitting on a nest of eggs."/>
	</div>